/* Variables */
body {
    --color: #000;
    --background-color: #fff;
    --border-color: #000;
    --hero-color: #fff;
    --hero-background-color: dodgerblue;
    --link-color: #000;
    --link-hover-color: #fff;
    --link-hover-background-color: #000;
    --link-visited-color: #000;
    --link-active-color: #fff;
    --link-active-background-color: #000;
    --link-focus-color: #fff;
    --link-focus-background-color: #000;
    --list-item-color: #000;
    --list-item-background-color: #000;
    --blockquote-border-color: #000;
    --table-header-color: #fff;
    --table-header-background-color: rgba(0, 0, 0);
    --table-row-color: #000;
    --table-row-background-color: #fff;
    --table-row-gradient: drop-shadow(0 0 9px rgba(0,0,0,0.2));
    --hr-outer-color: rgba(0, 0, 0, 0);
    --hr-inner-color: #000;
    --details-border-color: #000;
}

@media (prefers-color-scheme: dark) {
    body {
        --color: #fff;
        --background-color: #000;
        --border-color: #666;
        --hero-color: #fff;
        --hero-background-color: dodgerblue;
        --link-color: #fff;
        --link-hover-color: #000;
        --link-hover-background-color: #fff;
        --link-visited-color: #fff;
        --link-active-color: #000;
        --link-active-background-color: #fff;
        --link-focus-color: #000;
        --link-focus-background-color: #fff;
        --list-item-color: #fff;
        --list-item-background-color: #fff;
        --blockquote-border-color: #fff;
        --table-header-color: #000;
        --table-header-background-color: rgba(255, 255, 255);
        --table-row-color: #fff;
        --table-row-background-color: #000;
        --table-row-gradient: drop-shadow(0 0 9px rgba(255,255,255,0.2));
        --hr-outer-color: rgba(1, 1, 1, 0);
        --hr-inner-color: #fff;
        --details-border-color: #fff;
    }
}

/* Stylesheet */
:root {
    color-scheme: light dark; /* both supported */
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin: auto auto 1em;

    padding: 0 max(min(calc((100% - 768px) / 2), 20%), 5px);
    width: max(20%, 768px);
    background-color: var(--background-color);
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        width: calc(100% - 10px);
        padding: 0 5px;
    }
}

/* Hero */
h1::before {
    content: "";
    background-color: var(--hero-background-color);
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: calc((100vw - 100%) / -2);
    left: calc((100vw - 100%) / -2);
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    padding: 0.47em 0;

    display: flex;
    justify-content: center;
    width: 100%;

    color: var(--hero-color);
}

@media screen and (min-width: 768px) {
    h1 {
        position: sticky;
        top: 0;
    }
}

/* Headings */
h2 {
    font-size: 2em;
    font-weight: 700;
    margin: 0.83em 0;

    color: var(--color);
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 1em 0;

    color: var(--color);
}

h4 {
    font-size: 1.25em;
    font-weight: 700;
    margin: 1.33em 0;

    color: var(--color);
}

h5 {
    font-size: 1em;
    font-weight: 700;
    margin: 1.67em 0;

    color: var(--color);
}

h6 {
    font-size: 0.9em;
    font-weight: 700;
    margin: 2.33em 0;

    color: var(--color);
}

/* Paragraphs */
p {
    margin: 1em 0;

    color: var(--color);
}

/* Divs */
div {
    display: inline-flex;
    justify-content: center;
    width: 100%;

    color: var(--color);
}

div > *:first-child {
    width: calc(50% - 10px);
    margin-right: 10px;
}

div > *:last-child {
    width: calc(50% - 10px);
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    div {
        display: block;
    }

    div > *:first-child {
        width: 100%;
        margin-right: 0;
    }

    div > *:last-child {
        width: 100%;
        margin-left: 0;
    }
}

/* Image */
img {
    border-radius: 10px;
    max-width: 100%;
    height: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 0 9px var(--border-color);
}

/* Links */
a {
    padding: 2px 7px;
    color: var(--link-color);
    text-decoration: none;
    box-shadow: 0 0 9px var(--border-color);
    border-radius: 10px;
    justify-content: center;
}

a:visited {
    color: var(--link-visited-color);
}

a:focus {
    background-color: var(--link-focus-background-color);
    color: var(--link-focus-color);
}

a:active {
    background-color: var(--link-active-background-color);
    color: var(--link-active-color);
}

a:hover {
    background-color: var(--link-hover-background-color);
    color: var(--link-hover-color);
}

/* Lists */
ol, ul {
    list-style: none;
    padding: 0 0 0 0.5em;
}

li {
    margin: 0.7em 0;
}

ol {
    counter-reset: li-counter;
}
ol li {
    counter-increment: li-counter;
}

ul li::before {
    content: ' ';
    color: var(--list-item-color);
    background-color: var(--list-item-background-color);
    width: 10px;
    height: 10px;

    border: 2px solid var(--list-item-color);
    border-radius: 50px;
    display: inline-flex;

    padding: 4px;
    margin: 0px 16px 0px 14px;
}

ol li::before {
    content: counter(li-counter);
    width: 20px;
    height: 20px;

    color: var(--list-item-color);
    border: 2px solid var(--list-item-color);
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    padding: 4px 4px 6px;
    margin: 0px 10px;
}

/* Blockquotes */
blockquote {
    border-left: 5px solid var(--blockquote-border-color);
    padding: 0 0 0 1em;
    margin: 1em 0;
}

blockquote p {
    margin: 0;
}

/* Tables */
table {
    border-collapse: separate;
    border-spacing: 0 0.3em;
    width: 100%;
    table-layout: fixed;
    margin-top: 1em;
    margin-bottom: 1em;
}

td {
    padding: 0.5em 0.5em 0.5em 1em;
    margin-bottom: 1em;
    color: var(--table-row-color);
}

tr {
    margin-bottom: 1em;
    border-radius: 10px;
    background: var(--table-row-background-color);
    filter: var(--table-row-gradient);
}

th {
    padding: 0.5em 0.5em 0.5em 1em;
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
    text-align: left;
}

th:first-child, td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child, td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Horizontal Rule */
hr {
    height: 2px;
    margin: 5px 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(var(--hr-outer-color)), color-stop(0.5, var(--hr-inner-color)), to(var(--hr-outer-color)));
    background: -webkit-linear-gradient(left, var(--hr-outer-color), var(--hr-inner-color), var(--hr-outer-color));
    background: -moz-linear-gradient(left, var(--hr-outer-color), var(--hr-inner-color), var(--hr-outer-color));
    background: -o-linear-gradient(left, var(--hr-outer-color), var(--hr-inner-color), var(--hr-outer-color));
    background: linear-gradient(left, var(--hr-outer-color), var(--hr-inner-color), var(--hr-outer-color));
    border: 0;
}
hr:after {
    display: block;
    content: '';
    height: 2px;
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, var(--hr-inner-color)), color-stop(100%, var(--hr-outer-color)));
    background-image: -webkit-radial-gradient(center top, farthest-side, var(--hr-inner-color) 0%, var(--hr-outer-color) 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, var(--hr-inner-color) 0%, var(--hr-outer-color) 100%);
    background-image: -o-radial-gradient(center top, farthest-side, var(--hr-inner-color) 0%, var(--hr-outer-color) 100%);
    background-image: radial-gradient(farthest-side at center top, var(--hr-inner-color) 0%, var(--hr-outer-color) 100%);
}

/* Highlight */
mark {
    background-color: var(--background-color);
    color: var(--color);
    padding-left: 3px;
    border-radius: 5px;
    border: 1px dashed var(--color);
}

/* Removed */
u {
    text-decoration: none;
}